.home-conatiner {
  display: flex;
  align-items: center;
}
.home-content {
  display: flex;
  flex-direction: column;

  align-items: start;
  flex: 1;
}
.home-content h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}
.home-img {
  position: relative;
  top: 30px;
}
.home-img img {
  border: 2px solid rgb(81, 81, 89);

  width: 25rem;
  transition: all 0.5s ease;
}

.home-conatiner img:hover {
  box-shadow: 5px 5px 55px rgba(78, 61, 177, 0.799);
  transform: translateY(-3px);
}

@media (max-width: 1225px) {
  .home-content h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .home-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
  .home-img img {
    width: 20rem;
  }
}
@media (max-width: 884px) {
  .home-conatiner {
    gap: 2rem;
    flex-direction: column;
  }
  .home-content {
    align-items: center;
    flex: 1;
  }
  .home-content h2 {
    margin-top: 2rem;
    text-align: center;
  }
  .home-content p {
    text-align: center;
    width: 100%;
  }
  .home-img img {
    width: 20rem;
  }
}
@media (max-width: 624px) {
  .home-content h2 {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  .home-img img {
    width: 16rem;
  }
}
