.about-container {
  padding-top: 120px;
}
.about-container h5 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.about-education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-education img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid rgb(68, 51, 84);
  transition: all 0.3s;
}
.about-education img:hover {
  transform: translateX(-30px);
  box-shadow: 3px 3px 18px gray;
}
.about-text-container {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.about-text-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}
.about-text-container p {
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}
.about-text-container .btn {
  margin-top: 2rem;
}
.education-text h4 {
  color: rgb(104, 89, 203);
  margin-bottom: 1rem;
}
.education-text p {
  margin-bottom: 5px;
}

@media (max-width: 1225px) {
  .about-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
  .about-contentimg {
    width: 20rem;
  }
}
@media (max-width: 884px) {
  .about-content {
    flex-direction: column-reverse;
  }
  .about-content h4 {
    text-align: center;
  }
  .about-content h2 {
    font-size: 1.5rem;

    text-align: center;
  }
  .about-content p {
    text-align: center;
    width: 100%;
  }
  .about-content img {
    width: 20rem;
  }
  .about-text-container {
    align-items: center;
  }
}
@media (max-width: 624px) {
  .about-content img {
    width: 16rem;
  }
}
